<div class="shadow-xl shadow-white/20">
  <button class="text-black text-md border-[1px] bg-white px-4 py-2 rounded-l-md">Convert All
    ({{ vm().totalFilesCount }})
  </button>
  <button [cdkMenuTriggerFor]="menu"
          class="text-black text-md font-bold border-[1px] bg-white px-4 py-2 rounded-r-md">{{ vm().currentTarget.name | uppercase }}
  </button>

  <ng-template #menu>
    <app-converter-select-target-search (setTarget)="setTarget($event)" [current]="vm().currentTarget"
                                        [formats]="vm().allowedFormats" />
  </ng-template>
</div>
