<div>
  <div class="mt-4 mb-2">
    <svg (click)="viewType.set('list')"
         [ngClass]="{'bg-gray-100': viewType() === 'list'}"
         aria-hidden="true"
         class="hover:cursor-pointer hover:bg-gray-200 border-gray-300 border-[1px] p-2 rounded-md mr-2 inline w-10 h-10 text-gray-500"
         fill="none"
         height="24" viewBox="0 0 24 24" width="24"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5" stroke="currentColor" stroke-linecap="round"
            stroke-width="2" />
    </svg>

    <svg (click)="viewType.set('grid')"
         [ngClass]="{'bg-gray-100': viewType() === 'grid'}"
         aria-hidden="true"
         class="hover:cursor-pointer hover:bg-gray-200 border-gray-300 border-[1px] p-2 rounded-md m-2 inline w-10 h-10 text-gray-500"
         fill="currentColor"
         height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd"
            d="M4.857 3A1.857 1.857 0 0 0 3 4.857v4.286C3 10.169 3.831 11 4.857 11h4.286A1.857 1.857 0 0 0 11 9.143V4.857A1.857 1.857 0 0 0 9.143 3H4.857Zm10 0A1.857 1.857 0 0 0 13 4.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 21 9.143V4.857A1.857 1.857 0 0 0 19.143 3h-4.286Zm-10 10A1.857 1.857 0 0 0 3 14.857v4.286C3 20.169 3.831 21 4.857 21h4.286A1.857 1.857 0 0 0 11 19.143v-4.286A1.857 1.857 0 0 0 9.143 13H4.857Zm10 0A1.857 1.857 0 0 0 13 14.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 21 19.143v-4.286A1.857 1.857 0 0 0 19.143 13h-4.286Z"
            fill-rule="evenodd" />
    </svg>

  </div>

  @if (viewType() === 'grid') {
    <div class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4">
      @for (file of files(); track $index) {
        <app-file-list-item [file]="file" (removeItem)="removeItem.emit($event)" />
      }
    </div>
  } @else if (viewType() === 'list') {
    <div>
      @for (file of files(); track $index) {
        <div class="border-[1px] border-green-200 rounded-md w-full my-2">
          <img [src]="'assets/images/'+file.file.name" class="w-24">
        </div>
      }
    </div>
  }
</div>

