<section class="text-white py-12">
  <div class="container mx-auto text-center">
    <h1 class="text-5xl text-white font-bold">Simplify Your Image Conversion</h1>
    <p class="mt-4 text-xl text-gray-500">Convert images from one format to another effortlessly with our intuitive interface.</p>
    <a [routerLink]="['/', GlobalRoutePaths.converter]" class="mt-8 bg-white text-black px-4 py-2 rounded inline-block">Start converting</a>
  </div>
</section>
<section class="flex flex-row gap-4">
  <a
    class="w-48 h-48 border-[1px] rounded-md p-2 flex justify-center items-center hover:cursor-pointer hover:bg-gray-800/50 hover:border-2 hover:scale-105"
  >
    <div class="flex flex-row items-center gap-4 text-white">
      <span class="text-2xl">JPG</span>
      <i class="ph-bold ph-arrow-right"></i>
      <span class="text-2xl">PNG</span>
    </div>
  </a>
  <a class="w-48 h-48 border-[1px] rounded-md p-2 flex justify-center items-center hover:cursor-pointer hover:bg-gray-800/50">
    <div class="flex flex-row items-center gap-4 text-white">
      <span class="text-2xl">JPG</span>
      <i class="ph-bold ph-arrow-right"></i>
      <span class="text-2xl">BMP</span>
    </div>
  </a>
  <a class="w-48 h-48 border-[1px] rounded-md p-2 flex justify-center items-center hover:cursor-pointer hover:bg-gray-800/50">
    <div class="flex flex-row items-center gap-4 text-white">
      <span class="text-2xl">JPG</span>
      <i class="ph-bold ph-arrow-right"></i>
      <span class="text-2xl">TIFF</span>
    </div>
  </a>
</section>
