<section class="text-white py-12">
  <div class="container mx-auto text-center">
    <h1 class="text-5xl text-white font-bold">Simplify Your Image Conversion</h1>
    <p class="mt-4 text-xl text-gray-500">Convert images from one format to another effortlessly with our intuitive
      interface.</p>
  </div>
</section>
<div class="py-2 bg-black">
  <div class="flex flex-col mx-12 items-center">
    <div class="w-96 self-center">
      <label
        class="flex flex-col items-center justify-center h-64 border-[1px] border-white rounded-lg cursor-pointer bg-grey-50"
        for="dropzone-file"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <i class="ph-bold ph-cloud-arrow-up text-5xl text-white"></i>
          <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold text-white text-lg">Click to upload</span>
          </p>
        </div>
        <input (change)="onFileChange($event)" [accept]="acceptedFormats()" class="hidden" id="dropzone-file" multiple
               type="file" />
      </label>
    </div>

    <div class="w-full flex flex-row justify-center mt-6">
      <div class="flex flex-row justify-center w-96">
        @if (vm().convertableFiles.length) {
          <app-converter-select-target />
        }
      </div>
    </div>

    @if (vm().convertableFiles.length) {
      <div class="mt-8 w-[720px]">
        <app-converter-file-list (removeItem)="onRemoveItem($event)" [files]="vm().convertableFiles" />
      </div>
    }
  </div>
</div>
