<header class="bg-white shadow-md py-4 sticky top-0">
  <div class="container mx-auto flex justify-between items-center">
    <a [routerLink]="['/',GlobalRoutePaths.home]" class="text-2xl font-bold">Convy</a>
    <nav>
      <!--      <a class="ml-4 px-4 py-2 hover:text-green-500" href="#features">Features</a>-->
      <!--      <a class="ml-4 px-4 py-2 hover:text-green-500" href="#pricing">Pricing</a>-->
      <!--      <a class="ml-4 px-4 py-2 hover:text-green-500" href="#about">About Us</a>-->
      <!--      <a class="ml-4 px-4 py-2 hover:text-green-500" href="#contact">Contact</a>-->
      <!--      <a class="ml-4 px-4 py-2 hover:text-green-500" href="/signin">Sign In</a>-->
      <a [routerLink]="['/',GlobalRoutePaths.converter]"
         class="ml-4 bg-green-500 text-white px-4 py-2 rounded">Convert</a>
    </nav>
  </div>
</header>