<div class="py-12 bg-black">
  <div class="flex flex-col mx-12">
    <div class="w-96 self-center">
      <label
        class="flex flex-col items-center justify-center h-64 border-2 border-grey-400 border-dashed rounded-lg cursor-pointer bg-grey-50 hover:bg-gray-800"
        for="dropzone-file"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <i class="ph-bold ph-cloud-arrow-up text-4xl text-white"></i>
          <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold text-white">Click to upload</span>
            or
            <span class="font-semibold text-white">drag and drop</span>
          </p>
          <p class="text-s text-gray-500">SVG, PNG, JPG and other</p>
          <p class="text-xs text-gray-500">Check supported formats <a class="font-bold text-white hover:underline">here</a></p>
        </div>
        <input (change)="onFileChange($event)" [accept]="acceptedFormats()" class="hidden" id="dropzone-file" multiple type="file" />
      </label>
    </div>

    <div class="mt-8">
      <app-converter-file-list (removeItem)="onRemoveItem($event)" [files]="convertableFiles()" />
    </div>
  </div>
</div>
