<div class="flex items-center justify-between border-[1px] rounded-md w-full my-2 h-16 pr-4">
  <div class="flex items-center h-16 gap-4">
    <img [src]="file().file | fileToUrl" class="h-full" />
    <span>{{ file().file.name }}</span>
  </div>
  <div class="flex items-center gap-4">
    <span class="text-gray-400">{{ file().file.size | fileSize }}</span>
    <div>
      <span class="px-2 py-0.5 text-center bg-green-500 text-white rounded-md text-xs">{{ file().format | uppercase }}</span>
    </div>
    <app-convert-to-select />
    <button (click)="sendFileConvert()" class="ml-4 bg-green-500 text-white px-4 py-2 rounded active:bg-green-600" type="button">Convert</button>
  </div>
</div>
